$white: #fff;
$green: rgb(12, 129, 12);
$red: rgb(219, 7, 7);

$focuded-shadow-color: rgba(76, 175, 80, 0.3);
$focused-border-color: #4caf50;
$shadow-color: rgba(0, 0, 0, 0.05);
$text-color: #333;
$border-color: #ccc;
